#sidebar
{
	padding: 20px 20px 20px 0;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .row label
{
    width: 150px;
	display: inline-block;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.clsColor_0{
    background-color: #000000;
}

.old-clsColor_1 {
    background-color: #993300;
}

.old-clsColor_2 {
    background-color: #003399;
}

#old-blu1 {
    background-color: #000033;
}

#rem-old-red1 {
    background-color: #330000;
}

.rem-old-clsNrmTxt {
    color: #cccccc;
    font-size: .88em;
    /*
    .clsColor_0;
    background-color: #000000;
    */
}

.old-clsNrmTxtSml {
    color: #cccccc;
    font-size: small;
    /*
    .clsColor_0;
    background-color: #000000;
    */
}

.old-clsNrmTxtBld {
    color: #330000;
    font-size: .88em;
    /*
    .clsColor_0;
    background-color: #000000;
    */
}

.old-clsBodTxt {
    color: #ffffff;
}

.rem-old-clsHedTxt {
    font-size: 1em;
    /*
    .old-clsBodTxt
    color: #ffffff;
    */
}

.rem-old-clsSmlTxtWht {
    font-size: small;
    /*
    .old-clsBodTxt
    color: #ffffff;
    */
}

.old-clsNrmTxtWht {
    font-size: .88em;
    /*
    .old-clsBodTxt;
    color: #ffffff;
    */
    /*
    .clsColor_0;
    background-color: #000000;
    */
}

.old-clsHedTxtLrg {
    color:     #3333FF;
    font-size: 1.5em;
    /*
    .clsColor_0;
    background-color: #000000;
    */
}

#old-redsml1 {
    font-size: .8em;
    text-align: center;
    /*
    #rem-old-red1
    background-color: #330000;
    */
}
